[submodule ".vim/pack/tpope/start/sleuth"]
	path = .vim/pack/tpope/start/sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule ".vim/pack/tpope/start/sensible"]
	path = .vim/pack/tpope/start/sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule ".vim/pack/plugins/start/kotlin-vim"]
	path = .vim/pack/plugins/start/kotlin-vim
	url = https://github.com/udalov/kotlin-vim.git
